HOST = 'localhost'
PORT = 8080

# Link / to ./frontend ?
ENABLE_FRONTEND = True

db = {
    'host': 'localhost',
    'user': 'postgres',
    'password': '',
}

# 72 hours, 3 days.
TIMED_TOKEN_AGE = 259200

# run clamdscan on every upload.
# this will use the multicore option,
# so it is not recommended on low-end machines.
UPLOAD_SCAN = False

# When UPLOAD_SCAN is true and
# a file is detected as being malicious,
# we will call this discord webhook
# with data about the upload.
UPLOAD_SCAN_WEBHOOK = ""

# If set to true, we will purge 
# image caches from cloudflare 
# on image deletion.  
CF_PURGE = False

# UPLOADURLS indicates all url prefixes
# a file can appear on
# For example, on elixi.re, we use nginx 
# rules so the file appears on both /i/ and /,
# so we have this set to:
# ["https://elixi.re/", "https://elixi.re/i/"]
CF_UPLOADURLS = []

# Same as CF_UPLOADURLS, except instead of /i/, /s/
# Example: ["https://elixi.re/s/"]
CF_SHORTENURLS = []

CF_EMAIL = ""
CF_ZONEID = ""
CF_APIKEY = ""