HOST = 'localhost'
PORT = 8080

# Link / to ./frontend ?
ENABLE_FRONTEND = True

db = {
    'host': 'localhost',
    'user': 'postgres',
    'password': '',
}

# 72 hours, 3 days.
TIMED_TOKEN_AGE = 259200

# run clamdscan on every upload.
# this will use the multicore option,
# so it is not recommended on low-end machines.
UPLOAD_SCAN = False

# When UPLOAD_SCAN is true and
# a file is detected as being malicious,
# we will call this discord webhook
# with data about the upload.
UPLOAD_SCAN_WEBHOOK = ""

# Should we clear EXIF values for JPEGs?
# Needs Pillow
CLEAR_EXIF = False

ACCEPTED_MIMES = [
    'image/png',
    'image/jpeg',
    'image/gif',
    'image/webp',
    'image/svg+xml',
    'audio/webm',
    'video/webm'
]
