[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
hypercorn = "==0.9.0"
bcrypt = "==3.1.7"
itsdangerous = "==1.1.0"
cerberus = "==1.3.2"
# -------------------------------------------------------------------------------
# when changing these dependencies, make sure to change them in .gitlab-ci.yml,
# too.
aioredis = "==1.2"
asyncpg = "==0.20.1"
# -------------------------------------------------------------------------------
aiohttp = "==3.6.2"
aioinflux = "==0.9.0"
cryptography = "==2.8"
python-magic = "==0.4.15"
parsedatetime = "==2.5"
dnspython = "==1.16.0"
Quart = "==0.10.0"
Pillow = "==7.0.0"
violet = {editable = true,git = "https://gitlab.com/elixire/violet.git"}
python-dateutil = "*"
winter = {editable = true,git = "https://gitlab.com/elixire/winter.git"}
hail = {editable = true,git = "https://gitlab.com/elixire/hail.git"}

[dev-packages]
pytest = "==5.3.2"
pytest-asyncio = "==0.10.0"
pytest-cov = "==2.8.1"
flake8 = "==3.7.9"
black = "==19.3b0"
mypy = "==0.761"

[requires]
python_version = "3.7"
