git+https://github.com/channelcat/sanic@599834b0e1c41d934dce30b6393926635f72b78e
git+https://github.com/ashleysommer/sanic-cors@a17067967e0d447c870c48feca9cc53572316c3c

asyncpg==0.17.0
aioredis==1.1.0
bcrypt==3.1.4
itsdangerous==0.24
cerberus==1.2

# The worst idea ever is to add aiohttp to a project.
# and I did it.
# fuck aiohttp.
aiohttp==3.3.2

# May god have mercy on my soul
Pillow==5.2.0

# testing stuff
pytest==3.6.3
pytest-cov==2.5.1
pyflakes==2.0.0

# pytest-sanic==0.1.12
git+https://github.com/yunstanford/pytest-sanic@930f2c5e779b84a587aba0193f7e8e424a9e7366

aioinflux==0.3.2

cryptography==2.2.2

# You'll need libmagic for this.
# On linux, use your package manager to install libmagic.
# On win/mac, see README here:
# https://github.com/ahupp/python-magic
python-magic==0.4.15

parsedatetime==2.4
