git+https://github.com/channelcat/sanic@e1c90202682d76361c77adb7bb2176730038466a
sanic-cors==0.9.4

asyncpg==0.15.0
aioredis==1.1.0
bcrypt==3.1.4
itsdangerous==0.24
cerberus==1.2

# The worst idea ever is to add aiohttp to a project.
# and I did it.
# fuck aiohttp.
aiohttp==3.3.1

# May god have mercy on my soul
Pillow==5.1.0

# testing stuff
pytest==3.6.1
pyflakes==2.0.0

# pytest-sanic==0.1.9
git+https://github.com/yunstanford/pytest-sanic@51ea50f6f4fdc50c5821c100a03de338298e2927

aioinflux==0.3.2
