extends template.pug
block content
  h2 About us
  h3 Our team
  div.row.no-gutter.no-indent.no-margin
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/ave-demon.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="ao#5755").team-name Ave
          span.specialties Ms Boss Lady
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/luna-pink.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="luna#6969").team-name Luna
          span.specialties Backend Developer
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/mary-pink.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="heatingdevice#1212").team-name Mary
          span.specialties Frontend Developer
  h3 Noteworthy Contributors
  div.row.no-gutter.no-indent.no-margin
    div.col-12.col-sm-12.col-md-6.col-lg-4
      div.team-member
        div.avatar-contain
          img(src=require("@/images/slice.svg")).team-member-avatar
        div.team-member-brick
          h3(data-discordtag="slice#0001").team-name slice
          span.specialties Various things on frontend



  h4 So, you in?
  p
   | Great! Check out 
   a(href="https://gitlab.com/elixire") the source
   | ! Happy hacking!

  div.doc-spacing

  h4 Have something to report?
  p
   | Please send us am email at 
   a(href="mailto:report@elixi.re") report@elixi.re
   |  with the problematic URL and the reasoning, and we'll deal with it ASAP.
