extends template.pug
block content
  h1 Account info
  form(novalidate="true").form-wrap.needs-verification#update-form
    div.data-group
      span.data-before Username: 
      b#profile-username Loading...
    div.data-group
      span.data-before File Quota: 
      b#profile-quota 100
      span.data-after  MB per week (
        b#profile-used 00
        |  MB used)
    div.data-group
      span.data-before Shorten Quota: 
      b#s-profile-quota 100
      span.data-after  shortens per week (
        b#s-profile-used 00
        |  shortens used)
    div.form-group
      label(for="new-password2") Email Address
      input(type="text").form-control#email
      div.invalid-feedback Bad email!
    div.form-group
      label(for="password") Current Password
      input(type="password", required="true").form-control#password
      div.invalid-feedback Incorrect password!
    div.form-group
      label(for="new-password1") New Password
      input(type="password").form-control#new-password1
      div.invalid-feedback Unsafe
    div.form-group
      label(for="new-password2") New Password (Repeat)
      input(type="password").form-control#new-password2
      div.invalid-feedback Doesn't match!

    hr
    div.form-group
      label(for="domain-selector") Domain
      div
        input(type="text").form-control#wildcard
        select(required="true").select2.domain-selector.form-control#domain-selector
      span.text-muted If you'd like to request or donate a domain, check out #subdomain-requests on 
        a(href="https://discord.gg/Yt83sPJ") the Discord guild
        | !
    button(type="submit").btn.btn-primary#submit-btn Update Account
    hr
    button(type="button", data-toggle="modal", data-target="#password-modal").btn.btn-primary Generate Uploader Token
    hr
    button(type="button", data-toggle="modal", data-target="#revoke-modal").btn.btn-danger Revoke All Tokens
    button(type="button", data-toggle="modal", data-target="#delete-modal").btn.btn-danger.needs-space#delete-modal-btn Delete Account
    hr
    button(type="button", data-toggle="modal", data-target="#gdpr-modal").btn.btn-primary Change Privacy


  div(tabindex="-1", role="dialog").modal.fade#password-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to create a new uploader token
          form(novalidate=true).needs-validation#password-form
            div.form-group
              label(for="token-password") Password
              input(type="password", required="true", placeholder="Password").form-control#token-password
              div.invalid-feedback Incorrect password
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger Elixire staff will never ask you for your token!

        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-primary#generate-token Generate
	  


  div(tabindex="-1", role="dialog").modal.fade#delete-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to delete your account, you'll recieve an email with a confirmation link to delete your account.
          form(novalidate=true).needs-validation#delete-form
            div.form-group
              label(for="delete-password") Password
              input(type="password", required="true", placeholder="Password").form-control#delete-password
              div.invalid-feedback Incorrect password
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger This will PERMANENTLY delete your account and all its files! Make sure you know what you're doing!
        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-danger#delete-btn I understand


  div(tabindex="-1", role="dialog").modal.fade#revoke-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to deactivate all tokens
          form(novalidate=true).needs-validation#revoke-form
            div.form-group
              label(for="revoke-password") Password
              input(type="password", required="true", placeholder="Password").form-control#revoke-password
              div.invalid-feedback Incorrect password
            div.form-group
              input(type="checkbox", checked="true").form-control#stay-logged-in
              label(for="stay-logged-in") Keep me logged in!
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger This will sign you out of all your web sessions and make your uploaders stop working!

        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-danger#revoke-btn I understand
