extends template.pug
block content
  h2 Pending Activation
  div.user-list.pending
  h2 All users
  div.user-list
    div.user-card
      span.username testuser
      span.email me@example.org
      span.discordtag Clyde#0000
      span.accept /
      span.delete-btn &times;
    div.user-card
      table
        tr
          td username
          td me@example.org
          td Clyde#0000
          td &times;
