extends template.pug
block content
  h2 Welcome to Elixire!
  p.blurb Elixire is a free, and open-source filehost! We're currently not accepting signups but you can shoot a request over to 
    a(href="https://discord.gg/Yt83sPJ") our Discord guild
    |  and you might just get access!
