extends template.pug
block content
  h2 Welcome to Elixire!
  p.blurb Elixire is a free, and open-source filehost! We're currently not accepting signups but you can shoot a request over to Ave (ao#5755) and you might just get access!
