extends template.pug
block content
  h2 Your files
  div.file-grid.row.no-indent.no-margin.no-files#file-grid
    div.no-files-upload-some
      div.m-content
        div.m-content-centered
          h1.no-indent No Files
          span.tagline Get uploading!

  div(tabindex="-1", role="dialog", aria-hidden="true").modal.fade#delete-file-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5 Are you sure?
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body
          p Are you sure you want to delete this file?
        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-secondary No! Go back!
          button(type="button", data-dismiss="modal").btn.btn-primary#delete-confirm Yes, I'm sure
  span(data-toggle="modal", data-target="#delete-file-modal")#show-delete-modal
