extends template.pug
block content
  h2 Your files
  div.file-grid.row.no-indent.no-margin.no-files#file-grid
    div.no-files-upload-some
      div.m-content
        div.m-content-centered
          h1.no-indent No Files
          span.tagline Get uploading!
