extends template.pug
block content
  h1 Login
  div.form-wrap
    div.form
      div.form-group
        label(for="username") Username
        input(type="text", placeholder="Username").form-control#username
      div.form-group
        label(for="password") Password
        input(type="password", placeholder="Password").form-control#password

      button(type="submit").btn.btn-primary#submit-btn Login
      
      span.text-muted
        | Forgotten your password? Ask for help on our
        a(href="Yt83sPJ") Discord guild
        | !
