extends template.pug
block content
  h1 Reset password
  form(novalidate="true")#reset-form.needs-validation
    div.form-group
      input(type="password")#password.form-control
      div.invalid-feedback#password-validity Invalid password or Link Expired
    button.btn.btn-primary#change-btn Change Password
