extends template.pug
block content
  h2 Your Shortened Links
  div.link-grid.row.no-indent.no-margin.no-links#link-grid
    div.no-links-upload-some
      div.m-content
        div.m-content-centered
          h1.no-indent No Shortened URLs
          span.tagline Get shortening!
