html
  head
    title #{htmlWebpackPlugin.options.title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .page-content
      .page-navbar
         nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
           a(href="#", data-target="/").navbar-brand.intellectual-link Elixire
           button(type="button", data-toggle="collapse", data-target="#homenav").navbar-toggler
             span.navbar-toggler-icon
           div.collapse.navbar-collapse#homenav
             ul.navbar-nav.mr-auto
               li.nav-item
                 a(href="#", data-target="/").nav-link.intellectual-link Home
               li.nav-item
                 a(href="#", data-target="/about.html").nav-link.intellectual-link About Us
               li.nav-item.logged-in-only
                 a(href="#", data-target="/upload.html").nav-link.intellectual-link Upload
               //- This should be on far-right side
               li.nav-item.logged-out-only
                 a(href="#", data-target="/login.html").nav-link.intellectual-link Login
               li.nav-item.logged-in-only.dropdown
                 a(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").nav-link.dropdown-toggle#nav-account Account
                 div.dropdown-menu
                   a(href="#", data-target="/account.html").dropdown-item.intellectual-link My Account
                   a(href="#", data-target="/logout.html").dropdown-item.intellectual-link Log out
      .body
        //- Errors and stuff go in this div.
        #alert-area
        .content
        //- Page stuff goes in here.
        block content
