.logged-in .logged-in-only {
    display: block;
}

.logged-in-only {
    display: none;
}

.logged-in .logged-out-only {
    display: none;
}

.logged-out-only {
    display: block;
}

#alert-area {
    padding: 5px 4px;
}

.body {
    padding: 8px 10px 0 10px;
}

h1 {
    padding-left: 20px;
}

.no-indent {
    padding-left: 0;
}

.indent-left {
    padding-left: 20px;
}

.no-margin {
    margin: 0;
}

.greyscale-icon, .greyscale-icon:hover {
    color: #222;
    text-decoration: none;
    font-size: 2rem;
    margin-top: -0.75rem; 
}

