extends template.pug
block content
  div.drop-invitation
    div
      div.center-upload
        img(src=require("./upload.svg"))
        span#uploading-text Drop to upload!
        div.progress
          div(style="width:0").progress-bar.progress-bar-striped.progress-bar-animated.bg-success#progress-bar
  div.pre-upload
    div.alert.alert-info
      h4.alert-heading Gimme files!
      p
      | Just drop a file on here or click the button below to select a file to be uploaded!
    div.upload-clear
      label(for="upload-input")
        div.dropper-card#dropper-card
          div.dropper-icon
            img(src=require("./uploadbubble.svg")).dropper-bubble
      input(type="file")#upload-input
      div#saved-files
